# Ignore live-build output directories
config/
cache/
chroot/
binary/
local/
.build/
.tmp/
# lb config sometimes outputs stage directories
.stage/

# Ignore log files
*.log

# Ignore any generated ISOs
*.iso

# Ignore any transient files
*.img
*.squashfs
*.zsync

# Ignore build stamps or other temp files
*.buildstamp
